---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
const allProjects = await getCollection("projects");
---

{
  allProjects.map((project) => (
    <a href={`/projects/${project.id}/`}>
      {/* conditional rendering:
      "if project.data.thumbnail exists, then create this <Image> element"
      */}
      {/* {project.data.thumbnail && (
        <Image class="project-img" src={project.data.thumbnail} alt="" />
      )} */}
      {/* "ternary conditional": if the first part (before the ?) exists, then show what's after the ?, otherwise show what's after the : */}

      {project.data.thumbnail ? (
        <Image class="project-img" src={project.data.thumbnail} alt="" />
      ) : (
        <div class="no-img">NO IMAGE</div>
      )}
      {project.data.title && <h2>{project.data.title}</h2>}

      <p>{project.data.projectType}</p>
    </a>
  ))
}

<style>
  .project-img {
    max-width: 300px;
  }
  .no-img {
    max-width: 300px;
    aspect-ratio: 3 / 2;
    background-color: lightgray;
  }
</style>
